body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.profile-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
}

#profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    /* Boshida yashil border */
    border: 6px solid #2ecc71; 
    transition: 0.3s;
}

#status-text {
    font-weight: bold;
    color: #2ecc71;
    margin-top: 10px;
}

/* FLOATING TOGGLE - NAVBARDAN TASHQARIDA */
.btn-toggle {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn-toggle.off {
    background-color: #e74c3c;
}

.btn-toggle:hover {
    transform: scale(1.1);
}
